#wrapper {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 3rem;
  height: auto;
  width: 95%;
  overflow: hidden;
}


.mat-list {
  height: 15rem;
}

.mat-list-item {
  height: 100%;


}



.list-item {
  width: 5rem;

  display: flex;
  flex-direction: column;
}

.red {
  background-color: red;

}

p {
  top: 0;
  left: 100px;
}

.mat-list-base {
  padding-top: 40px;
}


.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  font-size: 12px;

  position: relative;


}



.mat-list-item {
  margin: 1rem;
  height: auto !important;
  width: 10rem;
}

.mat-icon {
  display: none;
  position: absolute;
  right: 0;
}

.mat-list-item:hover {
  background-color: lightblue;
  cursor: pointer;

}

.mat-list-item:hover .mat-icon {
  display: block;

}

.mat-icon:hover {
  color: red;
}


.list-item {
  margin: .25rem
}

.title-wrapper {
  top: 7px;
  z-index: 1;
  height: 2rem;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;

}

.mat-list {
  width: 12rem;
}

.list-wrapper {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 2rem;
  height: 43rem;
  overflow-y: auto;
  overflow-x: auto;
  border: 2px solid silver;
}

.list-main-wrapper {
  position: relative;
  max-width: 20rem;
  display: flex;
  justify-content: center;



}

mat-list-item-content {
  width: 5rem !important;
}
