#wrapper {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  width: auto;

  overflow: hidden;
}


.mat-list {
  height: 15rem;
}

.mat-list-item {
  height: 100%;


}

.list-item {
  padding: .5rem
}



.list-wrapper {
  padding: 1.5rem;
  display: flex;
  width: 30rem;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin: 3rem;
  max-height: 15rem;
  overflow-y: auto;
  overflow-x: auto;
  border: 2px solid black;
}

.list-main-wrapper {

  width: 100%;
  display: flex;
  justify-content: center;


}
