<div id="wrapper">
  <app-json-schema></app-json-schema>
  <app-json-schema-viewer-second></app-json-schema-viewer-second>
</div>




<div *ngIf='this.jsonSchemaService.mapTable.length' class='list-main-wrapper'>
  <div class='list-wrapper'>
    <mat-list>

      <mat-list-item class="list-item" style='width:30rem'
        *ngFor="let map of this.jsonSchemaService.mapTable; let indexMap = index">
        Mapping {{map.mapping_id}} [JSON_{{map.start_from}}] {{ map.start_text}} => [JSON_{{map.end_of}}]
        {{ map.end_text}}
        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-list>
  </div>
</div>
